{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pão</title>
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body class="bindex">
    <img src="{% static 'home/img/background.jpg' %}" alt="Pão">

    <main class="cmain">
        <img src="https://tinyurl.com/bdftynwr" alt="">

        <form action="" method="">
            <input type="submit" value="Comprar">
        </form>
    </main>
</body>

</html>